*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  text-align: center;
  background-color: aqua;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
}

img {
  height: 50%;
}
